body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}

.navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 25px;
}

.navlinks a, .gray a {
    color:rgb(65, 72, 168);
}

a {
    transition: all 0.4s ease 0s;
}

.navlinks li a {
    text-decoration: none;
}

a {
    color:rgb(27, 29, 131);
}

.showcase {
    background-image: url("images/splash.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
}

a:hover {
    color: rgb(0, 158, 185);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    justify-content: space-between;
    position: relative;
}

nav {
    background-color:rgb(224, 224, 224);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-radius: 10px;
}

  .content-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color:rgb(49, 79, 126);
      margin: 0 auto;
      max-width: 80%;
      padding: 10px 10px 20px 10px;
      gap: 20px;
  }

  .blue {
      color: rgb(63, 63, 63);
      background-color: #b5d7fc;
  }

  .gray {
     background-color:rgb(224, 224, 224);
     padding-top: 10px;
     padding-bottom: 15px;
     color:rgb(49, 79, 126);
  }

  .gray h1 {
      margin: 0;
  }

  .button {
	text-decoration: none;
    border: white 1px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
    color:rgb(49, 79, 126)
  }

  h3 a {
    color: inherit;
    text-decoration: none;
  }

  .information {
    position: absolute;
    top: 40vh;
    left: 7vh;
    max-width: 500px;
    color:rgb(34, 45, 61);
}

.information h1, .information h2 {
    color:rgb(76, 105, 151);
    background-color:#b5d7fc;
}

p {
    text-align: justify;
}

img {
   max-width: 100%;
   height: auto;
}

.rainbow {
    visibility: hidden;
}

/**
@media only screen and (max-width: 400px) {
   iframe {
       visibility: hidden;
       height: 0px;
   }
   .content-box {
        flex-direction: column;
   }
   .showcase {
       background-image: none;
       background-color: #b5d7fc;
       height: 70vh;
   }

   .showcase img {
       visibility: visible;
   }

   .information {
    top: 15vh;
   }
} **/